.footer
  background-color rgb( 20, 20, 20 )
  color white
  padding-bottom 80px

.footer-content
  max-width 1300px
  margin: 0 auto
  padding-top 50px

.footer-content__left
  float left
  width 60%

.footer-content__left .column
  display inline-block
  margin 20px
  padding-right 40px
  text-align left

.footer-content__left .column h2
  font-size: 14px;
  font-family: "Lato";
  color: rgb( 255, 255, 255 );
  text-transform uppercase

.column ul
  margin: 0
  padding: 0

.column ul li
  list-style none
  color #808080
  padding-top 10px


.column a
  text-decoration none
  color #808080
  font-size 14px
  font-family: "Lato";

.footer-content__right
  float right
  width 40%
  margin-top 20px

.footer-content__right .subscribe-block .subscribe__section
  display inline-block
  padding-right 10px

.footer-content__right .subscribe-block
  padding 40px 0

.footer-content__right h2
  font-size: 16px;
  font-family: "Lato";
  color: rgb( 255, 255, 255 );
  text-transform uppercase

.footer-content__right .decoration_non
  text-transform none

.footer-content__right .search
  padding-top 40px
  position relative

.footer-content__right input
  padding 10px
  background-color rgb( 20, 20, 20 )
  color #808080
  border 1px solid #808080

.search button
  padding 8px
  background-color rgb( 50, 48, 48 );
  border none
  color white
  position absolute
  top 43px
  left 312px

.footer .footer-decoration
  max-width 1300px
  height 20px
  margin 0 auto
  margin-top 80px
  border-top 1px solid #808080
  position relative

.footer .footer-decoration:after
  content ' '
  border: 15px solid transparent; border-top: 15px solid #808080;
  position absolute
  top 0
  left 45%

.footer-content__bottom
  max-width 1300px
  margin 0 auto

.method_of_payment .icon
  display inline-block
  padding 10px

.method_of_payment .icon > img
  width 30px

.content__bottom-left
  float left

.content__bottom-left .content__text
  max-width 255px
  font-size: 11px;
  font-family: "Lato";
  color: rgb( 54, 54, 54 );

.content__bottom-right
  float right

.content__bottom-right > a
  text-decoration none


.content__bottom-right .arrow
  background-color black
  width 40px
  height 40px
  font-size 40px
  color white
  text-align center

.footer-bottom__decoration
  width 100%
  height 40px
  background-color #000000