.fourth__content
  background: url(../assets/images/fourth-block_bg.gif) center center no-repeat;
  background-size: cover;
  min-height: 400px;
  padding 50px 50px 0 50px

.fourth__content-left
  float left

.fourth__content-right
  float right
  text-align left

.left-block
  display inline-block

.fourth__content-image
  width 250px

.fourth__content-text
  width 300px

.right-block
  display inline-block
  text-align right

.white
  font-size: 18px;
  font-family: "PlayfairDisplay";
  color: rgb( 255, 255, 255 );
  font-style: italic;

.fourth__content-text h2
  font-size: 29.973px;
  font-family: "PlayfairDisplay";
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  font-style: italic;

.grey
  font-size: 14.009px;
  font-family: "Lato";
  color: rgb( 127, 126, 126 );
  font-weight: bold;
  line-height: 2.141;
