.main
  background #f2f2f2
  display inline-block
  width 100%
  min-width 100%
  font-size 14px

.number
  float left

.element
  padding-right 30px

.main .number__text
  padding-top 12px
  padding-left 110px
  position relative

.main .number__text span
  font-family: "Lato";
  font-size: 11px;

.main .number__text:before
  position absolute
  left 38px
  top 10px
  content url("../assets/images/phone.svg")


.main ul
  float: right;
  list-style: none;

.main a
  text-decoration none
  color black
  font-family: "Lato";
  font-size 11px

.main ul li
  display inline-block
  padding 0 15px
  text-transform uppercase

.main ul .border:after
  content ' '
  vertical-align middle
  border-right 1px solid gray
  padding 0 15px 0 15px

