@media screen and (max-width: 1460px) {
  .nav-bar .nav-bar__nav li {
    display block;
    margin-left 100px
  }
  .logotype {
    top 150px
  }
  .subscribe-nav {
    margin-top 60px
  }
  .switch-block {
    top 1000px
  }
  .group {
    margin 20px
  }
}

@media screen and (max-width: 1368px) {
  .line:after {
    display none
  }
  .line:before {
     display none
   }

  .third-block .line1:after {
    display none
  }
  .third-block .line1:before {
    display none
  }
}

@media screen and (max-width: 1308px) {
  .third-block__container{
    display block
    width 100%
  }
  .brand {
    max-width 200px
    margin 0 auto
  }
}

@media screen and (max-width: 1250px) {
  .subscribe-nav {
    display none
  }

}