/* NAV-BAR */
.nav-bar
  width 100%
  display flex
  align-items center
  justify-content space-between
  position relative
  background #fff

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}

/* NAVIGATION */

.nav-bar .subscribe-nav .subscribe,
.nav-bar .subscribe-nav .button
  display inline-block

.nav-bar__nav ul
  list-style none

.nav-bar__nav ul li
  display inline-block
  padding 28px

.nav-bar__nav a
  text-decoration none
  font-family: "PlayfairDisplay";
  font-size: 18.32px;
  color black
  font-style italic
  line-height: 0.983;

/* LOGOTYPE */

.logotype
  max-width 400px
  position absolute
  left 43.5%
  top 20px

/* ICON SUBSCRIBE */
.subscribe-nav
  display flex
  justify-content space-around
  max-width 400px
  padding-left 565px
.subscribe
  width 35px
  height 35px
  border 2px solid #d9bf8f
  border-radius 50%
  position relative
  margin 12px

.faceook img
  position absolute
  top 10px
  left 13px

.twitter img
  position absolute
  top 12px
  left 10px

.pinterest img
  position absolute
  top 11px
  left 10px

.instagram img
  position absolute
  top 11px
  left 11px

.button .btn {
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 255, 252, 252 );
  background-color: rgb( 0, 0, 0 );
  color white
  width: 94px;
  height: 39px;
  margin-top 10px
  margin-left 28px
}
