.second-block__tittle
  display flex
  align-items center
  justify-content center
  padding 65px

.decoration
  background-color: rgb( 217, 191, 143 );
  margin 10px
  transform rotate(45deg)
  width: 19px;
  height: 19px;

.second-block__tittle h2
  margin 0 90px
  font-size: 29.973px;
  font-family: "PlayfairDisplay";
  color: rgb( 0, 0, 0 );
  font-style: italic;

.line
  position relative

.line:before
  content ' '
  width 360px
  height 2px
  position absolute
  top 16px
  right 408px
  border-bottom 1px solid #808080

.line:after
  content ' '
  width 360px
  height 2px
  position absolute
  top 16px
  left 408px
  border-bottom 1px solid #808080

.content-item1
  position relative

.content-item__text
  font-size: 18px;
  font-family: "Lato";
  color: rgb( 255, 255, 255 );
  text-align center
  width 80px
  border-radius: 50%;
  background-color: rgb( 254, 171, 18 );


.content-item__text1
  position absolute
  top 35px
  left 35px

.content-item__btn button
  padding 10px
  font-size: 17.73px;
  font-family: "Lato";
  position absolute
  bottom 14px
  left 30%
  border none
  background-color #000000
  color #ffffff
  cursor: pointer

.content-item__btn button:hover
  background-color: rgb( 240, 151, 92 );


