.second-block__tittle
  display flex
  align-items center
  justify-content center
  padding 65px

.decoration
  background-color: rgb( 217, 191, 143 );
  margin 10px
  transform rotate(45deg)
  width: 19px;
  height: 19px;

.second-block__tittle h2
  margin 0 90px
  font-size: 29.973px;
  font-family: "PlayfairDisplay";
  color: rgb( 0, 0, 0 );
  font-style: italic;

.line
  position relative

.line:before
  content ' '
  width 360px
  height 2px
  position absolute
  top 16px
  right 408px
  border-bottom 1px solid #808080

.line:after
  content ' '
  width 360px
  height 2px
  position absolute
  top 16px
  left 408px
  border-bottom 1px solid #808080

