.support
  text-align center
  padding 50px
  background #fff
  height 100hw

.group
  width 375px
  display inline-block

.group .images
  float left
  width 50px
  padding 40px 20px

.group .group__text
  float left
  text-align left

.group_1
  background-color: rgb( 217, 191, 143 );
  position relative

.group_2
  background-color: rgb( 0, 0, 0 );
  margin: 0 100px

.group_3
  background-color: rgb( 217, 191, 143 );
  position relative

.group h2
  font-size: 30px;
  font-family: "Lato";
  color: rgb( 255, 255, 255 );
  text-transform uppercase
  padding-top 30px
  margin 0

.group p
  font-size: 14px;
  font-family: "Lato";
  color: rgb( 255, 255, 255 );
  padding-top 10px
  margin: 0

