.third-block .line1
  position relative

.third-block .line1:before
  content ' '
  width 340px
  height 2px
  position absolute
  top 16px
  right 400px
  border-bottom 1px solid #808080

.third-block .line1:after
  content ' '
  width 340px
  height 2px
  position absolute
  top 16px
  left 400px
  border-bottom 1px solid #808080


.third-block__container
  margin 0 auto
  display flex
  width 1290px
  height 100hw
  align-items center
  justify-content space-around
