@import"styles/grid.styl"
@import"styles/base.styl"
@import"styles/heder.styl"
@import"styles/nav-bar.styl"
@import"styles/slider.styl"
@import"styles/support.styl"
@import"styles/first-block.styl"
@import"styles/second-block.styl"
@import"styles/third-block.styl"
@import"styles/fourth-block.styl"